{% load static %}
<!-- ======= Footer ======= -->

<!-- <div id="footer" class="text-center">
  <div class="container">
    <div class="socials-media text-center"></div>

    <div class="credits">
      <img src="{% static 'assets/img/WKC Logo White.png' %} " /><br /><br />
      <br />
      With love ❤ from Sushiksha
    </div>
  </div>
</div> -->
<footer>
  <div class="footer-container">
    <div class="footer-title"><p><i class="far fa-copyright copyright"></i>Coprright <a href="#" style="font-weight:bold;">Sushiksha<a>.All Rights Reserved</p></div>
    <div class="social-links">
      <ul>
        <li><a href="https://twitter.com/SushikshaWkc" target="_blank"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://www.facebook.com/vkssfalumni/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
        <li><a href="https://www.instagram.com/vkssf_alumni/" target="_blank"><i class="fab fa-instagram"></i></a></li>
        <li><a href="mailto:sushikshawkc@gmail.com" target="_blank"><i class="fas fa-envelope-square"></i></a></li>
        <li><a href="https://www.linkedin.com/company/sushiksha/" target="_blank"><i class="fab fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
  </footer>
<!-- End Footer -->
