{% load static %}
<!-- ======= Footer ======= -->
<footer>
  <div class="footer-container">
    <div class="footer-title"><p><i class="far fa-copyright copyright"></i>Copyright <a href="https://vkssfalumni.com/" style="font-weight:bold;">VKSSF Alumni Association<a>.All Rights Reserved</p></div>
    <div class="social-links">
      <ul>
        <li><a href="mailto:vkssfalumni@gmail.com" target="_blank"><i class="fas fa-envelope-square"></i></a></li>
        <li><a href="https://www.facebook.com/vkssfalumni/" target="_blank"><i class="fab fa-facebook-square"></i></a></li>
        <li><a href="https://twitter.com/vkssfalumni?s=20" target="_blank"><i class="fab fa-twitter"></i></a></li>
        <li><a href="https://www.instagram.com/vkssf_alumni/?hl=en" target="_blank"><i class="fab fa-instagram"></i></a></li>
        <li><a href="https://www.linkedin.com/groups/10489733" target="_blank"><i class="fab fa-linkedin"></i></a></li>
      </ul>
    </div>
  </div>
  </footer>
<!-- End Footer -->
