{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">


  <title>Happy Birthday Venky!</title>

  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="{% static 'assets/img/favicon.png' %} " rel="icon">
  <link href="{% static 'assets/img/apple-touch-icon.png' %} " rel="apple-touch-icon">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Poppins:300,300i,400,400i,500,500i,600,600i,700,700i|Playfair+Display:400,400i,500,500i,600,600i,700,700i,900,900i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="{% static 'assets/vendor/bootstrap/css/bootstrap.min.css' %} " rel="stylesheet">
  <link href="{% static 'assets/vendor/hover/hover.min.css' %} " rel="stylesheet">
  <link href="{% static 'assets/vendor/ionicons/css/ionicons.min.css' %} " rel="stylesheet">
  <link href="{% static 'assets/vendor/boxicons/css/boxicons.min.css' %} " rel="stylesheet">
  <link href="{% static 'assets/vendor/venobox/venobox.css' %} " rel="stylesheet">
  <link href="{% static 'assets/vendor/owl.carousel/assets/owl.carousel.min.css' %} " rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="{% static 'assets/css/style.css' %} " rel="stylesheet">

</head>

<body>
{% include 'nav.html' %}

  <!-- ======= Hero Section ======= -->
  <div id="hero" class="home">

    <div class="container">
      <div class="hero-content">
        <h1>Dear <span class="typed"></span>,</h1>
        <p class="typed-items" data-typed-person="Venkatesh Prabhu">Venkatesh Prabhu, Venky, Dutyspace</p>
      </div>
    </div>
  </div><!-- End Hero -->


  <main id="main">

    <!-- ======= About Section ======= -->
    <div id="about" class="paddsection">
      <div class="container">
        <div class="row justify-content-between">

          <div class="col-lg-4 ">
            <div class="div-img-bg">
              <div class="about-img">
                <img src="{% static 'assets/img/me.jpg' %} " class="img-responsive" alt="me">
              </div>
            </div>
          </div>

          <div class="col-lg-7">
            <div class="about-descr">

              <p class="p-heading">To our cool human with superhuman ability of solving everyone's problem in no time. A
                companion who listens to everyones agony and helps in their betterment </p>
              <p class="separator">You are our inspiration, our motivation, and our support system. A simple man with a
                big heart who cares about everyone as his own.</p>

            </div>

          </div>
        </div>
      </div>
    </div><!-- End About Section -->

    <!-- ======= Services Section ======= -->
    <div id="services">
      <div class="container">

        <div class="services-carousel owl-theme">

          <div class="services-block">

            <i class="ion-ios-heart-outline"></i>
            <span>Diligent</span>
            <p class="separator"></p>

          </div>

          <div class="services-block">

            <i class="ion-ios-heart-outline"></i>
            <span>Resilient</span>
            <p class="separator"></p>

          </div>

          <div class="services-block">

            <i class="ion-ios-heart-outline"></i>
            <span>Perseverant</span>
            <p class="separator"></p>

          </div>

          <div class="services-block">

            <i class="ion-ios-heart-outline"></i>
            <span>Considerate</span>
            <p class="separator"></p>

          </div>

          <div class="services-block">

            <i class="ion-ios-heart-outline"></i>
            <span>Passionate</span>
            <p class="separator"></p>

          </div>

        </div>

      </div>

    </div><!-- End Services Section -->






    <!-- ======= Testimonials Section ======= -->
    <div id="testimonials" class="testimonials section-bg" style="padding-bottom: 20px;">
      <div class="container">

        <div class="section-title">
          <!-- <span>Testimonials</span> -->
          <h2>Hall of Endearment</h2>
          <p>From the dear and near ones</p>
        </div>

        <div class="owl-carousel testimonials-carousel">

          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Venkatesh Prabhu, who never likes to be in the limelight, has been a pillar of this workspace since the very beginning. At WKC, we usually narrate his story as a case study for personal transformation. KSHAMATA Camps might have kindled a spark in him to change and become what he is today, but I would say he is a self-made man. There are certain strong character traits in him that otherwise can not be ingrained by training. It has to come from self-realization and transformation.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="{% static 'assets/img/testimonials/testimonials-7.jpg' %} " class="testimonial-img" alt="">
            <h3>Gurudath Bantwalkar</h3>
            <h4></h4>
          </div>

          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              He is a true asset to this workspace. The way he thinks about this workspace regards he has for WKC always makes us very proud. Every mentee in this workspace should learn commitment and dedication towards their work from Venky. He is our proud Scholar, Mentor, and Alumni.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="{% static 'assets/img/testimonials/testimonials-8.jpg' %} " class="testimonial-img" alt="">
            <h3>Sahana Kini</h3>
            <h4></h4>
          </div>

          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              You are one of the strong pillars of VAA from day 1, irrespective of any designations you have worked and given your best. You are an inspiration for all of us, Multi talented I must say!!
              Technically soo gud, communication is excellent and more than everything you have a good heart of giving back to your alma matter. Keep it going!!!
              Wishing you a very happy Birthday Venky.
              May god bless you with all that you deserve and desire 
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="{% static 'assets/img/testimonials/testimonials-9.jpg' %} " class="testimonial-img" alt="">
            <h3>Sneha Shenoy</h3>
            <h4>2011 VKSSF Scholar</h4>
          </div>


          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Dear Venky,
              I had the privilege of knowing you right from my first camp at WKC in 2012 to now. You are an amazing
              human being with the heart of an adventurer. Never let that spirit fade! On your special day, I wish you a
              many many many more happieee and an adventurous year ahead! Devu Bare Koro
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="{% static 'assets/img/testimonials/testimonials-1.jpg' %} " class="testimonial-img" alt="">
            <h3>Sukanya Pai</h3>
            <h4>2012 VKSSF Scholar</h4>
          </div>

          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Prabhu Ji is one such person who openly speaks his mind out and genuinely cares for people around him. You
              are the kind of friend who makes good times even better. For laughter - sharing, constantly - caring and
              witty - rendering: a very joyful and heartfelt wishes to you on your birthday.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="{% static 'assets/img/testimonials/testimonials-2.jpg' %} " class="testimonial-img" alt="">
            <h3>Sulochana Pai</h3>
            <h4>2012 VKSSF Scholar</h4>
          </div>

          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Wish you a very happy birthday Venki! An amazing mentor, amazing techie, travel enthusiast and overall an
              amazing person!
              May god bless you with a lifetime of health and happiness. May life take you on all the amazing travel
              adventures you wished of (After Covid is neutralized of course). I wish you have a healthy, wealthy and an
              amazing, adventurous and fun filled life ahead!.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="{% static 'assets/img/testimonials/testimonials-3.jpg' %} " class="testimonial-img" alt="">
            <h3>Gaurav Prabhu</h3>
            <h4>2014 VKSSF Scholar</h4>
          </div>

          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              A Fantastic storyteller, a seasoned trekker, and a great leader! Venki is an allrounder who's fearless and
              never shies away from calling a spade a spade! It's always a treat listening to and interacting with
              Venki! Wish you an amazing year ahead!!
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="{% static 'assets/img/testimonials/testimonials-4.jpg' %} " class="testimonial-img" alt="">
            <h3>Rishikesh Pai</h3>
            <h4>2010 VKSSF Scholar</h4>
          </div>

          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Word and work differ only by one letter. You are less about the former and all about the latter. Your
              work, passion and kindness speak louder than any word. Happy birthday Venki! Plenty of respect! Wishing
              you a fantastic year ahead.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="{% static 'assets/img/testimonials/testimonials-5.jpg' %} " class="testimonial-img" alt="">
            <h3>Karan Kini K</h3>
            <h4>2012 VKSSF Scholar</h4>
          </div>
          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Many many happy returns of the day, Venky! From the extent I know you, you may not like celebrating your birthday. But for us, it’s a proud moment to celebrate your existence! You’re a wonderful part of this workspace! You’ve been instrumental in bringing the most of this workspace through your contributions which I can clearly see through the scholars. 
              On this day, may you get all the happiness and blessings that you very well deserve. Whatever you wish for, my wish is - may all of them come true! 
              Cheers to our crossword night trips to Kodachadri and memories at WKC! Looking forward to more such lovely times!
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="{% static 'assets/img/testimonials/testimonials-6.jpg' %} " class="testimonial-img" alt="">
            <h3>Samyuktha Prabhu</h3>
            <h4>2016 VKSSF Scholar</h4>
          </div>

          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Happy Birthday, Venki. I had a great time working with you during SCL. You've been an amazing mentor and a wonderful friend. Have a great year ahead
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="{% static 'assets/img/testimonials/testimonials-10.jpg' %} " class="testimonial-img" alt="">
            <h3>Gopika Kini</h3>
            <h4>2015 VKSSF Scholar</h4>
          </div>

        </div>

      </div>
    </div><!-- End Testimonials Section -->



  </main><!-- End #main -->

 {% include 'footer.html' %}

  <!-- Vendor JS Files -->
  <script src="{% static 'assets/vendor/jquery/jquery.min.js' %} "></script>
  <script src="{% static 'assets/vendor/bootstrap/js/bootstrap.bundle.min.js' %} "></script>
  <script src="{% static 'assets/vendor/jquery.easing/jquery.easing.min.js' %} "></script>
  <script src="{% static 'assets/vendor/php-email-form/validate.js' %} "></script>
  <script src="{% static 'assets/vendor/typed/typed.js' %} "></script>
  <script src="{% static 'assets/vendor/jquery-sticky/jquery.sticky.js' %} "></script>
  <script src="{% static 'assets/vendor/isotope-layout/isotope.pkgd.min.js' %} "></script>
  <script src="{% static 'assets/vendor/venobox/venobox.min.js' %} "></script>
  <script src="{% static 'assets/vendor/owl.carousel/owl.carousel.min.js' %} "></script>

  <!-- Template Main JS File -->
  <script src="{% static 'assets/js/main.js' %} "></script>

</body>

</html>