<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Testimonials</title>
    <link rel="stylesheet" href="assets/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700,900">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/Dark-NavBar-1.css">
    <link rel="stylesheet" href="assets/css/Dark-NavBar-2.css">
    <link rel="stylesheet" href="assets/css/Dark-NavBar.css">
    <link rel="stylesheet" href="assets/css/News-Cards.css">
    <link rel="stylesheet" href="assets/css/responsive-blog-card-slider.css">
    <link rel="stylesheet" href="assets/css/Team-with-rotating-cards-1.css">
    <link rel="stylesheet" href="assets/css/Team-with-rotating-cards.css">
    <link rel="stylesheet" href="assets/css/Testimonials.css">
</head>

<body>
    <!-- Start: Dark NavBar -->
    <div></div><!-- End: Dark NavBar -->
    <!-- Start: Team with rotating cards -->
    <section class="card-section-imagia">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <!-- Start: card container -->
                    <div class="card-container-imagia">
                        <!-- Start: card -->
                        <div class="card-imagia">
                            <!-- Start: front -->
                            <div class="front-imagia">
                                <!-- Start: cover image -->
                                <div class="cover-imagia"><img alt="" src="assets/img/sushiksha.jpg"></div>
                                <!-- End: cover image -->
                                <!-- Start: user image -->
                                <div class="user-imagia"><img class="img-circle" alt="" src="assets/img/sam.jpg"></div>
                                <!-- End: user image -->
                                <!-- Start: texte -->
                                <div class="content-imagia">
                                    <h3 class="name-imagia">Samyuktha</h3>
                                    <p class="subtitle-imagia"> </p>
                                    <p class="text-center"><em></em></p>
                                </div><!-- End: texte -->
                                <!-- Start: footer -->

                            </div><!-- End: front -->
                            <!-- Start: back -->
                            <div class="back-imagia">
                                <!-- Start: content -->
                                <div class="content-imagia content-back-imagia">
                                    <div>
                                        <h3 class="text-center"></h3>
                                        <p class="text-center">Happy birhtknvjnv jsnvjnvju</p>
                                    </div>
                                </div><!-- End: content -->
                                <!-- Start: footer -->
                                <div class="footer-imagia">
                                    <!-- Start: icons -->
                                    <!-- End: icons -->
                                </div><!-- End: footer -->
                            </div><!-- End: back -->
                        </div><!-- End: card -->
                    </div><!-- End: card container -->
                </div>
                <div class="col-sm-6 col-md-4">
                    <!-- Start: card container -->
                    <div class="card-container-imagia">
                        <!-- Start: card -->
                        <div class="card-imagia">
                            <!-- Start: front -->
                            <div class="front-imagia">
                                <!-- Start: cover gradient -->
                                <div class="cover-imagia cover-imagia"><img alt="" src="assets/img/sushiksha.jpg"></div>
                                <!-- End: cover gradient -->
                                <!-- Start: user image -->
                                <div class="user-imagia"><img class="img-circle" alt="" src="assets/img/sukanya.jpg">
                                </div><!-- End: user image -->
                                <div class="content-imagia">
                                    <h3 class="name-imagia">Sukanya Pai</h3>
                                    <p class="subtitle-imagia"> </p>
                                    <p class="text-center"><em>Tantum autem cuique tribuendum, primum quantum ipse
                                            efficere possis, deinde etiam quantum ille quem diligas atque adiuves. </em>
                                    </p>
                                </div>

                            </div><!-- End: front -->
                            <!-- Start: back -->
                            <div class="back-imagia">
                                <!-- Start: content -->
                                <div class="content-imagia content-back-imagia">
                                    <div>
                                        <h3 class="text-center">Lorem Ipsum</h3>
                                        <p class="text-center">Et hanc quidem praeter oppida multa duae civitates
                                            exornant Seleucia opus Seleuci regis, et Claudiopolis quam deduxit coloniam
                                            Claudius Caesar. Isaura enim antehac nimium potens, olim subversa ut
                                            rebellatrix interneciva aegre vestigia claritudinis pristinae monstrat
                                            admodum pauca. </p>
                                    </div>
                                </div><!-- End: content -->
                                <!-- Start: footer -->
                                <div class="footer-imagia">
                                    <!-- Start: icons -->

                                </div><!-- End: footer -->
                            </div><!-- End: back -->
                        </div><!-- End: card -->
                    </div><!-- End: card container -->
                </div>
                <div class="col-sm-6 col-md-4">
                    <!-- Start: card container -->
                    <div class="card-container-imagia">
                        <!-- Start: card -->
                        <div class="card-imagia">
                            <!-- Start: front -->
                            <div class="front-imagia">
                                <!-- Start: cover image -->
                                <div class="cover-imagia"><img alt="" src="assets/img/sushiksha.jpg"></div>
                                <!-- End: cover image -->
                                <!-- Start: user image -->
                                <div class="user-imagia"><img class="img-circle" alt="" src="assets/img/sulochana.jpg">
                                </div><!-- End: user image -->
                                <!-- Start: texte -->
                                <div class="content-imagia">
                                    <h3 class="name-imagia">Sulochana</h3>
                                    <p class="subtitle-imagia"> </p>
                                    <p class="text-center"><em>Tantum autem cuique tribuendum, primum quantum ipse
                                            efficere possis, deinde etiam quantum ille quem diligas atque adiuves. </em>
                                    </p>
                                </div><!-- End: texte -->
                                <!-- Start: footer -->
                            </div><!-- End: front -->
                            <!-- Start: back -->
                            <div class="back-imagia">
                                <!-- Start: content -->
                                <div class="content-imagia content-back-imagia">
                                    <div>
                                        <h3 class="text-center">Lorem Ipsum</h3>
                                        <p class="text-center">Et hanc quidem praeter oppida multa duae civitates
                                            exornant Seleucia opus Seleuci regis, et Claudiopolis quam deduxit coloniam
                                            Claudius Caesar. Isaura enim antehac nimium potens, olim subversa ut
                                            rebellatrix interneciva aegre vestigia claritudinis pristinae monstrat
                                            admodum pauca. </p>
                                    </div>
                                </div><!-- End: content -->
                                <!-- Start: footer -->
                                <div class="footer-imagia">
                                    <!-- Start: icons -->

                                </div><!-- End: footer -->
                            </div><!-- End: back -->
                        </div><!-- End: card -->
                    </div><!-- End: card container -->
                </div>
            </div>
        </div><!-- Start: Team with rotating cards -->
        <section class="card-section-imagia">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-4">
                        <!-- Start: card container -->
                        <div class="card-container-imagia">
                            <!-- Start: card -->
                            <div class="card-imagia">
                                <!-- Start: front -->
                                <div class="front-imagia">
                                    <!-- Start: cover image -->
                                    <div class="cover-imagia"><img alt="" src="assets/img/sushiksha.jpg"></div>
                                    <!-- End: cover image -->
                                    <!-- Start: user image -->
                                    <div class="user-imagia"><img class="img-circle" alt="" src="assets/img/sushma.jpg">
                                    </div><!-- End: user image -->
                                    <!-- Start: texte -->
                                    <div class="content-imagia">
                                        <h3 class="name-imagia">Sushma Kini</h3>
                                        <p class="subtitle-imagia"> </p>
                                        <p class="text-center"><em>Tantum autem cuique tribuendum, primum quantum ipse
                                                efficere possis, deinde etiam quantum ille quem diligas atque
                                                adiuves.</em></p>
                                    </div><!-- End: texte -->
                                    <!-- Start: footer -->

                                </div><!-- End: front -->
                                <!-- Start: back -->
                                <div class="back-imagia">
                                    <!-- Start: content -->
                                    <div class="content-imagia content-back-imagia">
                                        <div>
                                            <h3 class="text-center">Lorem Ipsum</h3>
                                            <p class="text-center">Et hanc quidem praeter oppida multa duae civitates
                                                exornant Seleucia opus Seleuci regis, et Claudiopolis quam deduxit
                                                coloniam Claudius Caesar. Isaura enim antehac nimium potens, olim
                                                subversa ut rebellatrix interneciva aegre vestigia claritudinis
                                                pristinae monstrat admodum pauca. </p>
                                        </div>
                                    </div><!-- End: content -->
                                    <!-- Start: footer -->
                                    <div class="footer-imagia">
                                        <!-- Start: icons -->

                                    </div><!-- End: footer -->
                                </div><!-- End: back -->
                            </div><!-- End: card -->
                        </div><!-- End: card container -->
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <!-- Start: card container -->
                        <div class="card-container-imagia">
                            <!-- Start: card -->
                            <div class="card-imagia">
                                <!-- Start: front -->
                                <div class="front-imagia">
                                    <!-- Start: cover gradient -->
                                    <div class="cover-imagia cover-gradient"></div><!-- End: cover gradient -->
                                    <!-- Start: user image -->
                                    <div class="user-imagia"><img class="img-circle" alt=""
                                            src="https://unsplash.it/120/120?image=64"></div><!-- End: user image -->
                                    <div class="content-imagia">
                                        <h3 class="name-imagia">John Doe</h3>
                                        <p class="subtitle-imagia">Subtitle </p>
                                        <p class="text-center"><em>Tantum autem cuique tribuendum, primum quantum ipse
                                                efficere possis, deinde etiam quantum ille quem diligas atque adiuves.
                                            </em></p>
                                    </div>
                                    <div class="footer-imagia"><span><i class="fa fa-plus"></i> More info</span></div>
                                </div><!-- End: front -->
                                <!-- Start: back -->
                                <div class="back-imagia">
                                    <!-- Start: content -->
                                    <div class="content-imagia content-back-imagia">
                                        <div>
                                            <h3 class="text-center">Lorem Ipsum</h3>
                                            <p class="text-center">Et hanc quidem praeter oppida multa duae civitates
                                                exornant Seleucia opus Seleuci regis, et Claudiopolis quam deduxit
                                                coloniam Claudius Caesar. Isaura enim antehac nimium potens, olim
                                                subversa ut rebellatrix interneciva aegre vestigia claritudinis
                                                pristinae monstrat admodum pauca. </p>
                                        </div>
                                    </div><!-- End: content -->
                                    <!-- Start: footer -->
                                    <div class="footer-imagia">
                                        <!-- Start: icons -->
                                        <div class="social-imagia text-center"><a href="#"><i
                                                    class="fa fa-facebook"></i></a><a href="#"><i
                                                    class="fa fa-linkedin"></i></a><a href="#"><i
                                                    class="fa fa-twitter"></i></a></div><!-- End: icons -->
                                    </div><!-- End: footer -->
                                </div><!-- End: back -->
                            </div><!-- End: card -->
                        </div><!-- End: card container -->
                    </div>
                    <div class="col-sm-6 col-md-4">
                        <!-- Start: card container -->
                        <div class="card-container-imagia">
                            <!-- Start: card -->
                            <div class="card-imagia">
                                <!-- Start: front -->
                                <div class="front-imagia">
                                    <!-- Start: cover image -->
                                    <div class="cover-imagia"><img alt="" src="https://unsplash.it/720/500?image=1067">
                                    </div><!-- End: cover image -->
                                    <!-- Start: user image -->
                                    <div class="user-imagia"><img class="img-circle" alt=""
                                            src="https://unsplash.it/120/120?image=64"></div><!-- End: user image -->
                                    <!-- Start: texte -->
                                    <div class="content-imagia">
                                        <h3 class="name-imagia">John Doe</h3>
                                        <p class="subtitle-imagia">Subtitle </p>
                                        <p class="text-center"><em>Tantum autem cuique tribuendum, primum quantum ipse
                                                efficere possis, deinde etiam quantum ille quem diligas atque adiuves.
                                            </em></p>
                                    </div><!-- End: texte -->
                                    <!-- Start: footer -->
                                    <div class="footer-imagia"><span><i class="fa fa-plus"></i> More info</span></div>
                                    <!-- End: footer -->
                                </div><!-- End: front -->
                                <!-- Start: back -->
                                <div class="back-imagia">
                                    <!-- Start: content -->
                                    <div class="content-imagia content-back-imagia">
                                        <div>
                                            <h3 class="text-center">Lorem Ipsum</h3>
                                            <p class="text-center">Et hanc quidem praeter oppida multa duae civitates
                                                exornant Seleucia opus Seleuci regis, et Claudiopolis quam deduxit
                                                coloniam Claudius Caesar. Isaura enim antehac nimium potens, olim
                                                subversa ut rebellatrix interneciva aegre vestigia claritudinis
                                                pristinae monstrat admodum pauca. </p>
                                        </div>
                                    </div><!-- End: content -->
                                    <!-- Start: footer -->
                                    <div class="footer-imagia">
                                        <!-- Start: icons -->
                                        <div class="social-imagia text-center"><a href="#"><i
                                                    class="fa fa-facebook"></i></a><a href="#"><i
                                                    class="fa fa-linkedin"></i></a><a href="#"><i
                                                    class="fa fa-twitter"></i></a></div><!-- End: icons -->
                                    </div><!-- End: footer -->
                                </div><!-- End: back -->
                            </div><!-- End: card -->
                        </div><!-- End: card container -->
                    </div>
                </div>
            </div><!-- Start: Team with rotating cards -->
            <section class="card-section-imagia">
                <div class="container">
                    <div class="row">
                        <div class="col-sm-6 col-md-4">
                            <!-- Start: card container -->
                            <div class="card-container-imagia">
                                <!-- Start: card -->
                                <div class="card-imagia">
                                    <!-- Start: front -->
                                    <div class="front-imagia">
                                        <!-- Start: cover image -->
                                        <div class="cover-imagia"><img alt=""
                                                src="https://unsplash.it/720/500?image=1067"></div>
                                        <!-- End: cover image -->
                                        <!-- Start: user image -->
                                        <div class="user-imagia"><img class="img-circle" alt=""
                                                src="https://unsplash.it/120/120?image=64"></div>
                                        <!-- End: user image -->
                                        <!-- Start: texte -->
                                        <div class="content-imagia">
                                            <h3 class="name-imagia">John Doe</h3>
                                            <p class="subtitle-imagia">Subtitle </p>
                                            <p class="text-center"><em>Tantum autem cuique tribuendum, primum quantum
                                                    ipse efficere possis, deinde etiam quantum ille quem diligas atque
                                                    adiuves.</em></p>
                                        </div><!-- End: texte -->
                                        <!-- Start: footer -->
                                        <div class="footer-imagia"><span><i class="fa fa-plus"></i> More info</span>
                                        </div><!-- End: footer -->
                                    </div><!-- End: front -->
                                    <!-- Start: back -->
                                    <div class="back-imagia">
                                        <!-- Start: content -->
                                        <div class="content-imagia content-back-imagia">
                                            <div>
                                                <h3 class="text-center">Lorem Ipsum</h3>
                                                <p class="text-center">Et hanc quidem praeter oppida multa duae
                                                    civitates exornant Seleucia opus Seleuci regis, et Claudiopolis quam
                                                    deduxit coloniam Claudius Caesar. Isaura enim antehac nimium potens,
                                                    olim subversa ut rebellatrix interneciva aegre vestigia claritudinis
                                                    pristinae monstrat admodum pauca. </p>
                                            </div>
                                        </div><!-- End: content -->
                                        <!-- Start: footer -->
                                        <div class="footer-imagia">
                                            <!-- Start: icons -->
                                            <div class="social-imagia text-center"><a href="#"><i
                                                        class="fa fa-facebook"></i></a><a href="#"><i
                                                        class="fa fa-linkedin"></i></a><a href="#"><i
                                                        class="fa fa-twitter"></i></a></div><!-- End: icons -->
                                        </div><!-- End: footer -->
                                    </div><!-- End: back -->
                                </div><!-- End: card -->
                            </div><!-- End: card container -->
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <!-- Start: card container -->
                            <div class="card-container-imagia">
                                <!-- Start: card -->
                                <div class="card-imagia">
                                    <!-- Start: front -->
                                    <div class="front-imagia">
                                        <!-- Start: cover gradient -->
                                        <div class="cover-imagia cover-gradient"></div><!-- End: cover gradient -->
                                        <!-- Start: user image -->
                                        <div class="user-imagia"><img class="img-circle" alt=""
                                                src="https://unsplash.it/120/120?image=64"></div>
                                        <!-- End: user image -->
                                        <div class="content-imagia">
                                            <h3 class="name-imagia">John Doe</h3>
                                            <p class="subtitle-imagia">Subtitle </p>
                                            <p class="text-center"><em>Tantum autem cuique tribuendum, primum quantum
                                                    ipse efficere possis, deinde etiam quantum ille quem diligas atque
                                                    adiuves. </em></p>
                                        </div>
                                        <div class="footer-imagia"><span><i class="fa fa-plus"></i> More info</span>
                                        </div>
                                    </div><!-- End: front -->
                                    <!-- Start: back -->
                                    <div class="back-imagia">
                                        <!-- Start: content -->
                                        <div class="content-imagia content-back-imagia">
                                            <div>
                                                <h3 class="text-center">Lorem Ipsum</h3>
                                                <p class="text-center">Et hanc quidem praeter oppida multa duae
                                                    civitates exornant Seleucia opus Seleuci regis, et Claudiopolis quam
                                                    deduxit coloniam Claudius Caesar. Isaura enim antehac nimium potens,
                                                    olim subversa ut rebellatrix interneciva aegre vestigia claritudinis
                                                    pristinae monstrat admodum pauca. </p>
                                            </div>
                                        </div><!-- End: content -->
                                        <!-- Start: footer -->
                                        <div class="footer-imagia">
                                            <!-- Start: icons -->
                                            <div class="social-imagia text-center"><a href="#"><i
                                                        class="fa fa-facebook"></i></a><a href="#"><i
                                                        class="fa fa-linkedin"></i></a><a href="#"><i
                                                        class="fa fa-twitter"></i></a></div><!-- End: icons -->
                                        </div><!-- End: footer -->
                                    </div><!-- End: back -->
                                </div><!-- End: card -->
                            </div><!-- End: card container -->
                        </div>
                        <div class="col-sm-6 col-md-4">
                            <!-- Start: card container -->
                            <div class="card-container-imagia">
                                <!-- Start: card -->
                                <div class="card-imagia">
                                    <!-- Start: front -->
                                    <div class="front-imagia">
                                        <!-- Start: cover image -->
                                        <div class="cover-imagia"><img alt=""
                                                src="https://unsplash.it/720/500?image=1067"></div>
                                        <!-- End: cover image -->
                                        <!-- Start: user image -->
                                        <div class="user-imagia"><img class="img-circle" alt=""
                                                src="https://unsplash.it/120/120?image=64"></div>
                                        <!-- End: user image -->
                                        <!-- Start: texte -->
                                        <div class="content-imagia">
                                            <h3 class="name-imagia">John Doe</h3>
                                            <p class="subtitle-imagia">Subtitle </p>
                                            <p class="text-center"><em>Tantum autem cuique tribuendum, primum quantum
                                                    ipse efficere possis, deinde etiam quantum ille quem diligas atque
                                                    adiuves. </em></p>
                                        </div><!-- End: texte -->
                                        <!-- Start: footer -->
                                        <div class="footer-imagia"><span><i class="fa fa-plus"></i> More info</span>
                                        </div><!-- End: footer -->
                                    </div><!-- End: front -->
                                    <!-- Start: back -->
                                    <div class="back-imagia">
                                        <!-- Start: content -->
                                        <div class="content-imagia content-back-imagia">
                                            <div>
                                                <h3 class="text-center">Lorem Ipsum</h3>
                                                <p class="text-center">Et hanc quidem praeter oppida multa duae
                                                    civitates exornant Seleucia opus Seleuci regis, et Claudiopolis quam
                                                    deduxit coloniam Claudius Caesar. Isaura enim antehac nimium potens,
                                                    olim subversa ut rebellatrix interneciva aegre vestigia claritudinis
                                                    pristinae monstrat admodum pauca. </p>
                                            </div>
                                        </div><!-- End: content -->
                                        <!-- Start: footer -->
                                        <div class="footer-imagia">
                                            <!-- Start: icons -->
                                            <div class="social-imagia text-center"><a href="#"><i
                                                        class="fa fa-facebook"></i></a><a href="#"><i
                                                        class="fa fa-linkedin"></i></a><a href="#"><i
                                                        class="fa fa-twitter"></i></a></div><!-- End: icons -->
                                        </div><!-- End: footer -->
                                    </div><!-- End: back -->
                                </div><!-- End: card -->
                            </div><!-- End: card container -->

                        </div>
                    </div>
                </div>
            </section><!-- End: Team with rotating cards -->
        </section><!-- End: Team with rotating cards -->
    </section><!-- End: Team with rotating cards -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.3/js/bootstrap.bundle.min.js"></script>
    <script src="assets/js/responsive-blog-card-slider-1.js"></script>
    <script src="assets/js/responsive-blog-card-slider.js"></script>
</body>

</html>