{% load static %}
<!-- ======= Navbar ======= -->
<nav id="main-nav">
  <div class="row">
    <div class="container">
      <div class="logo">
        <a href="{% url 'home' %}"
          ><img src="{% static 'assets/img//hostel-logo.png' %}" alt="logo"
        /></a>
      </div>
      <div class="responsive">
        <i data-icon="m" class="ion-navicon-round"></i>
      </div>
      <ul class="nav-menu list-unstyled">
        <li><a href="{% url 'home' %}" class="smoothScroll">Home</a></li>
        <li>
          <a href="{% url 'wishes' %}" class="smoothScroll">Experiences</a>
        </li>
        <li><a href="{% url 'gallery' %}" class="smoothScroll">Gallery</a></li>
        <li><a href="{% url 'home' %}" class="smoothScroll">Brochure</a></li>
      </ul>
    </div>
  </div>
</nav>
<!-- End Navbar -->
